* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none;
    width: 90%;
    margin: auto;
}

body hr {
    margin: auto;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    position: relative;
    margin: auto;
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 62%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 1.5%;
    left: unset;
}

.prev {
    left: 2%;
    right: unset;
}

.dot {
    cursor: pointer;
    height: 2px;
    width: 29%;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 10px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #303ab2;
}

.slideIn {
    animation-name: slideIn;
    animation-duration: 0.5s;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    } to {
        transform: translateX(0%);
    }
}

img {
    width: 100%;
}

#offer {
    width: 100%;
    color: white;
    font-weight: 600;
    background-color: #303ab2;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 30px;
}

#offerBanner {
    width: 90%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    cursor: pointer;
}

.containerB {
    width: 90%;
    margin: auto;
    margin-bottom: 70px;
}

.banner {
    cursor: pointer;
}

#ageSections,
#categories,
#trendingStores,
#budgetZone,
#summerTrends {
    display: flex;
    cursor: pointer;
    gap: 15px;
}