* {
    margin: 0px;
    padding: 0px;
}

hr {
    border: 0.5px solid #dedddd;
}

#top-section {
    width: 90%;
    margin: auto;
    /* text-align: center; */
    margin-top: 30px;
}

#Home-Women-Tops {
    font-size: 12px;
    color: #a9a1a3;
    font-weight: bold;

}


#inner-top-section {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
    border: 1px solid red;
}

#Home-Women-Tops+h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 35px;
}

#inner-top-section>div {
    display: flex;
    /* text-align: center; */
    align-items: center;
    border: 1px solid #dedddd;
    width: 150px;
    padding: 8px;
    font-size: 14px;
}

#inner-top-section>div>img {
    width: 40px;
    height: 40px;
    padding-right: 8px;
}

#select-tag-section {
    /* height: 120px; */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    margin: auto;
    border: 1px solid red;
    background-color: #f7f8f7;
    /* padding-top: 20px;
    padding-bottom: 20px; */
}

#inner-select-tag-section {
    width: 100%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding-top: 10px;

}

#inner-select-tag-section>select {

    width: 190px;
    height: 50px;
    border-color: #dedddd;
    padding: 10px 10px 10px 10px;
}

#container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

#parentDiv{
    /* border: 1px solid; */
    width: 100%;
    margin-bottom:25px;
    padding-top: 15px;
}

#iconDiv{
    padding-left:px;
    position: absolute;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 256px;
    margin-top: 10px;
    background-color:white;
    cursor: pointer;
}


#imageDiv>img{
    display: inline-block;
    width: 90%;
    margin: auto;
    display: block;
    /* position: absolute; */
}

#imageDiv{
    display: inline-block;

}
.innerDiv{
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
    /* visibility: collapse; */
}

#pricesign{
    font-weight: bold;
}

#pricesign+p{
    font-size: 12.5px;
}

button{
    color: white;
    padding: 8px 80px 8px 100px;
    border: 0;
    background-color: #303ab2;
    margin-top: 5px;
}

#parentDiv:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    /* visibility: visible; */
}

.innerDiv{
    visibility: hidden;
}